<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>gTalk</title>
  <script src="./js/external/angular.min.js"></script>
  <script src="./js/external/angular-route.min.js"></script>
  <script src="./js/external/angular-resource.min.js"></script>
  <script src="./js/external/underscore-min.js"></script>
  <script src="./js/external/jquery.min.js"></script>
  <script src="./js/external/socket.io-1.4.5.js"></script>
  <link rel="stylesheet" href="./css/external/bootstrap-3.3.6-dist/css/bootstrap.min.css">
  <!--_______SPECIFIC_______-->
  <script src="./js/core/api/module.js"></script>
  <script src="./js/core/api/service.js"></script>
  <script src="./js/core/socket/module.js"></script>
  <script src="./js/core/socket/service.js"></script>
  <script src="./js/core/alerts/module.js"></script>
  <script src="./js/core/alerts/service.js"></script>
  <script src="./js/core/module.js"></script>
  <script src="./js/components/signIn/module.js"></script>
  <script src="./js/components/signIn/controller.js"></script>
  <script src="./js/components/signIn/directive.js"></script>
  <script src="./js/components/signUp/module.js"></script>
  <script src="./js/components/signUp/controller.js"></script>
  <script src="./js/components/signUp/directive.js"></script>
  <script src="./js/components/header/module.js"></script>
  <script src="./js/components/header/directive.js"></script>
  <script src="./js/components/userList/module.js"></script>
  <script src="./js/components/userList/controller.js"></script>
  <script src="./js/components/userList/directive.js"></script>
  <script src="./js/components/msgBox/module.js"></script>
  <script src="./js/components/msgBox/controller.js"></script>
  <script src="./js/components/msgBox/directive.js"></script>
  <script src="./js/components/module.js"></script>
  <script src="./js/sections/index/module.js"></script>
  <script src="./js/sections/index/controller.js"></script>
  <script src="./js/sections/home/module.js"></script>
  <script src="./js/sections/home/controller.js"></script>
  <script src="./js/sections/module.js"></script>
  <script src="./js/app.js"></script>
  <link rel="stylesheet" href="./css/style.css">
</head>

<body ng-app="app">
  <ng-view></ng-view>
</body>

</html>
