<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chapp</title>
        <script src="./js/external/angular.min.js"></script>
        <script src="./js/external/angular-route.min.js"></script>
        <script src="./js/external/angular-resource.min.js"></script>
        <script src="./js/external/ui-bootstrap-tpls-0.14.3.min.js"></script>
        <script src="./js/external/underscore-min.js"></script>
        <script src="./js/external/jquery.min.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
        <link rel="stylesheet" href="./css/external/bootstrap.min.css">
        <!--_______SPECIFIC_______-->
        <script src="./js/core/api/module.js"></script>
        <script src="./js/core/api/service.js"></script>
        <script src="./js/core/module.js"></script>
        <script src="./js/components/signIn/module.js"></script>
        <script src="./js/components/signIn/controller.js"></script>
        <script src="./js/components/signIn/directive.js"></script>
        <script src="./js/components/signUp/module.js"></script>
        <script src="./js/components/signUp/controller.js"></script>
        <script src="./js/components/signUp/directive.js"></script>
        <script src="./js/components/module.js"></script>
        <script src="./js/sections/index/module.js"></script>
        <script src="./js/sections/index/controller.js"></script>
        <script src="./js/sections/home/module.js"></script>
        <script src="./js/sections/home/controller.js"></script>
        <script src="./js/sections/module.js"></script>


        <script src="./js/app.js"></script>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body ng-app="app">
        <ng-view></ng-view>
    </body>
</html>