<div class="panel-body" ng-app="signin" ng-controller="signInController">
    <div class="col-lg-8 col-lg-offset-2">
        <form role="form" ng-submit="login()" class="login-form" id="login-form">
            <div class ="form-group">
                <label for="username">Username:</label>
                <input type="username" ng-model="username" class="form-control" id="username" tabindex="1" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" ng-model="password" class="form-control" id="password" tabindex="2" required>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3 vertical-center">
                    <input type="submit" name="login-submit" id="login-submit" tabindex="3" class="form-control btn btn-default" value="Log In">
                </div>
            </div>
        </form>
    </div>
</div>