<div class="container-fluid">
	<div class="list-group">
		<div class="list-group-item active panel-title container">
			Users
			<span class="glyphicon glyphicon-user pull-right"></span>
		</div>
		<div class="userList">
			<div ng-repeat="user in users">
				<a class="list-group-item {{active==user?'active':''}}" ng-click="selected(user)">
					<span ng-show="user.online" class="glyphicon glyphicon-ok-circle"></span>
					{{user.username}}
					<span ng-show="user.unread>0" class="badge">{{user.unread}}</span>
					<span ng-show="user.notify" class="glyphicon glyphicon-star-empty"></span>
				</a>
			</div>
		</div>
	</div>
</div>
